In [1]:
import findspark

In [2]:
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')

In [3]:
import pyspark

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('oo').getOrCreate()

In [6]:
# dataset beenused is taken from https://data.gov.in/catalog/state-wise-distribution-number-active-companies


"""The data contains State wise Distribution of Number of Active Companies. 
It contains data of Authorized Capital (Private, Public and Total). 
Report has been published by The Ministry of Corporate Affairs, Government of India.
Note:
Authorized capital in Rs. Crore, Sikkim is not covered under the Companies Act, 1956."""


df = spark.read.csv('statement_5_2013_14_1.csv',inferSchema=True,header=True)

In [7]:
# print schema
df.printSchema()

root
 |-- State/UT: string (nullable = true)
 |-- No. of Companies - Public: integer (nullable = true)
 |-- Authorized Capital - Public: double (nullable = true)
 |-- No. of Companies - Private: integer (nullable = true)
 |-- Authorized Capital - Private: double (nullable = true)
 |-- No. of Companies - Total: integer (nullable = true)
 |-- Authorized Capital - Total: double (nullable = true)

In [8]:
df.head(5)

[Row(State/UT='Andhra Pradesh', No. of Companies - Public=3942, Authorized Capital - Public=199444.03, No. of Companies - Private=55721, Authorized Capital - Private=95290.49, No. of Companies - Total=59663, Authorized Capital - Total=294734.52),
 Row(State/UT='Arunachal Pradesh', No. of Companies - Public=16, Authorized Capital - Public=889.85, No. of Companies - Private=156, Authorized Capital - Private=208.74, No. of Companies - Total=172, Authorized Capital - Total=1098.59),
 Row(State/UT='Assam', No. of Companies - Public=498, Authorized Capital - Public=17108.29, No. of Companies - Private=4394, Authorized Capital - Private=4192.81, No. of Companies - Total=4892, Authorized Capital - Total=21301.1),
 Row(State/UT='Bihar', No. of Companies - Public=594, Authorized Capital - Public=5871.69, No. of Companies - Private=10469, Authorized Capital - Private=6118.87, No. of Companies - Total=11063, Authorized Capital - Total=11990.56),
 Row(State/UT='Chhatisgarh', No. of Companies - Public=468, Authorized Capital - Public=32154.54, No. of Companies - Private=5407, Authorized Capital - Private=5368.12, No. of Companies - Total=5875, Authorized Capital - Total=37522.66)]

In [9]:
df.show()

+-----------------+-------------------------+---------------------------+--------------------------+----------------------------+------------------------+--------------------------+
|         State/UT|No. of Companies - Public|Authorized Capital - Public|No. of Companies - Private|Authorized Capital - Private|No. of Companies - Total|Authorized Capital - Total|
+-----------------+-------------------------+---------------------------+--------------------------+----------------------------+------------------------+--------------------------+
|   Andhra Pradesh|                     3942|                  199444.03|                     55721|                    95290.49|                   59663|                 294734.52|
|Arunachal Pradesh|                       16|                     889.85|                       156|                      208.74|                     172|                   1098.59|
|            Assam|                      498|                   17108.29|                      4394|                     4192.81|                    4892|                   21301.1|
|            Bihar|                      594|                    5871.69|                     10469|                     6118.87|                   11063|                  11990.56|
|      Chhatisgarh|                      468|                   32154.54|                      5407|                     5368.12|                    5875|                  37522.66|
|              Goa|                      163|                    7150.71|                      4590|                      4869.6|                    4753|                  12020.31|
|          Gujarat|                     3920|                  243099.36|                     46194|                    64097.31|                   50114|                 307196.67|
|          Haryana|                      969|                   66102.49|                     17849|                    34586.05|                   18818|                 100688.54|
| Himachal Pradesh|                      218|                   24681.37|                      2667|                     4542.08|                    2885|                  29223.45|
|  Jammu & Kashmir|                      121|                     698.76|                      2027|                     6347.67|                    2148|                   7046.43|
|        Jharkhand|                      427|                   17018.49|                      5360|                     7870.45|                    5787|                  24888.94|
|        Karnataka|                     1978|                  132853.64|                     47389|                     78227.7|                   49367|                 211081.34|
|           Kerala|                     1310|                   23782.14|                     22246|                     17262.7|                   23556|                  41044.84|
|   Madhya Pradesh|                     1499|                    54007.1|                     18145|                    13553.35|                   19644|                  67560.45|
|      Maharashtra|                    11870|                  713497.19|                    176898|                   355038.52|                  188768|                1068535.71|
|          Manipur|                       13|                     329.35|                       130|                      121.35|                     143|                     450.7|
|        Meghalaya|                      109|                    9193.27|                       405|                      763.15|                     514|                   9956.42|
|          Mizoram|                        7|                       99.1|                        16|                       34.61|                      23|                    133.71|
|         Nagaland|                       15|                     223.16|                       125|                      161.35|                     140|                    384.51|
|           Odisha|                     1039|                   27918.31|                     10146|                     13218.4|                   11185|                  41136.71|
+-----------------+-------------------------+---------------------------+--------------------------+----------------------------+------------------------+--------------------------+
only showing top 20 rows

In [10]:
df.describe

<bound method DataFrame.describe of DataFrame[State/UT: string, No. of Companies - Public: int, Authorized Capital - Public: double, No. of Companies - Private: int, Authorized Capital - Private: double, No. of Companies - Total: int, Authorized Capital - Total: double]>

In [11]:
df['State/UT']

Column<b'State/UT'>

In [12]:
type(df['State/UT'])

pyspark.sql.column.Column

In [13]:
df.select('State/UT')

DataFrame[State/UT: string]

In [14]:
type(df.select('State/UT'))

pyspark.sql.dataframe.DataFrame

In [15]:
df.select('State/UT').show(5)

+-----------------+
|         State/UT|
+-----------------+
|   Andhra Pradesh|
|Arunachal Pradesh|
|            Assam|
|            Bihar|
|      Chhatisgarh|
+-----------------+
only showing top 5 rows

In [16]:
# Creating a new column
# Adding a new column with a simple copy

df.withColumn('States',df['State/Ut'])

DataFrame[State/UT: string, No. of Companies - Public: int, Authorized Capital - Public: double, No. of Companies - Private: int, Authorized Capital - Private: double, No. of Companies - Total: int, Authorized Capital - Total: double, States: string]

In [17]:
# rename columns
df.withColumnRenamed('State/UT','STATE/UT').show()

+-----------------+-------------------------+---------------------------+--------------------------+----------------------------+------------------------+--------------------------+
|         STATE/UT|No. of Companies - Public|Authorized Capital - Public|No. of Companies - Private|Authorized Capital - Private|No. of Companies - Total|Authorized Capital - Total|
+-----------------+-------------------------+---------------------------+--------------------------+----------------------------+------------------------+--------------------------+
|   Andhra Pradesh|                     3942|                  199444.03|                     55721|                    95290.49|                   59663|                 294734.52|
|Arunachal Pradesh|                       16|                     889.85|                       156|                      208.74|                     172|                   1098.59|
|            Assam|                      498|                   17108.29|                      4394|                     4192.81|                    4892|                   21301.1|
|            Bihar|                      594|                    5871.69|                     10469|                     6118.87|                   11063|                  11990.56|
|      Chhatisgarh|                      468|                   32154.54|                      5407|                     5368.12|                    5875|                  37522.66|
|              Goa|                      163|                    7150.71|                      4590|                      4869.6|                    4753|                  12020.31|
|          Gujarat|                     3920|                  243099.36|                     46194|                    64097.31|                   50114|                 307196.67|
|          Haryana|                      969|                   66102.49|                     17849|                    34586.05|                   18818|                 100688.54|
| Himachal Pradesh|                      218|                   24681.37|                      2667|                     4542.08|                    2885|                  29223.45|
|  Jammu & Kashmir|                      121|                     698.76|                      2027|                     6347.67|                    2148|                   7046.43|
|        Jharkhand|                      427|                   17018.49|                      5360|                     7870.45|                    5787|                  24888.94|
|        Karnataka|                     1978|                  132853.64|                     47389|                     78227.7|                   49367|                 211081.34|
|           Kerala|                     1310|                   23782.14|                     22246|                     17262.7|                   23556|                  41044.84|
|   Madhya Pradesh|                     1499|                    54007.1|                     18145|                    13553.35|                   19644|                  67560.45|
|      Maharashtra|                    11870|                  713497.19|                    176898|                   355038.52|                  188768|                1068535.71|
|          Manipur|                       13|                     329.35|                       130|                      121.35|                     143|                     450.7|
|        Meghalaya|                      109|                    9193.27|                       405|                      763.15|                     514|                   9956.42|
|          Mizoram|                        7|                       99.1|                        16|                       34.61|                      23|                    133.71|
|         Nagaland|                       15|                     223.16|                       125|                      161.35|                     140|                    384.51|
|           Odisha|                     1039|                   27918.31|                     10146|                     13218.4|                   11185|                  41136.71|
+-----------------+-------------------------+---------------------------+--------------------------+----------------------------+------------------------+--------------------------+
only showing top 20 rows

In [25]:
#  complicated operations to create new column
df.withColumn('Double_public_capital',df['Authorized Capital - public']*2).show()

+-----------------+-------------------------+---------------------------+--------------------------+----------------------------+------------------------+--------------------------+---------------------+
|         State/UT|No. of Companies - Public|Authorized Capital - Public|No. of Companies - Private|Authorized Capital - Private|No. of Companies - Total|Authorized Capital - Total|Double_public_capital|
+-----------------+-------------------------+---------------------------+--------------------------+----------------------------+------------------------+--------------------------+---------------------+
|   Andhra Pradesh|                     3942|                  199444.03|                     55721|                    95290.49|                   59663|                 294734.52|            398888.06|
|Arunachal Pradesh|                       16|                     889.85|                       156|                      208.74|                     172|                   1098.59|               1779.7|
|            Assam|                      498|                   17108.29|                      4394|                     4192.81|                    4892|                   21301.1|             34216.58|
|            Bihar|                      594|                    5871.69|                     10469|                     6118.87|                   11063|                  11990.56|             11743.38|
|      Chhatisgarh|                      468|                   32154.54|                      5407|                     5368.12|                    5875|                  37522.66|             64309.08|
|              Goa|                      163|                    7150.71|                      4590|                      4869.6|                    4753|                  12020.31|             14301.42|
|          Gujarat|                     3920|                  243099.36|                     46194|                    64097.31|                   50114|                 307196.67|            486198.72|
|          Haryana|                      969|                   66102.49|                     17849|                    34586.05|                   18818|                 100688.54|            132204.98|
| Himachal Pradesh|                      218|                   24681.37|                      2667|                     4542.08|                    2885|                  29223.45|             49362.74|
|  Jammu & Kashmir|                      121|                     698.76|                      2027|                     6347.67|                    2148|                   7046.43|              1397.52|
|        Jharkhand|                      427|                   17018.49|                      5360|                     7870.45|                    5787|                  24888.94|             34036.98|
|        Karnataka|                     1978|                  132853.64|                     47389|                     78227.7|                   49367|                 211081.34|            265707.28|
|           Kerala|                     1310|                   23782.14|                     22246|                     17262.7|                   23556|                  41044.84|             47564.28|
|   Madhya Pradesh|                     1499|                    54007.1|                     18145|                    13553.35|                   19644|                  67560.45|             108014.2|
|      Maharashtra|                    11870|                  713497.19|                    176898|                   355038.52|                  188768|                1068535.71|           1426994.38|
|          Manipur|                       13|                     329.35|                       130|                      121.35|                     143|                     450.7|                658.7|
|        Meghalaya|                      109|                    9193.27|                       405|                      763.15|                     514|                   9956.42|             18386.54|
|          Mizoram|                        7|                       99.1|                        16|                       34.61|                      23|                    133.71|                198.2|
|         Nagaland|                       15|                     223.16|                       125|                      161.35|                     140|                    384.51|               446.32|
|           Odisha|                     1039|                   27918.31|                     10146|                     13218.4|                   11185|                  41136.71|             55836.62|
+-----------------+-------------------------+---------------------------+--------------------------+----------------------------+------------------------+--------------------------+---------------------+
only showing top 20 rows

In [27]:
# Using sql
# Register the DataFrame as a Sql temporary view
df.createOrReplaceTempView('data')

In [28]:
sql_result = spark.sql("select * from data")

In [29]:
sql_result

DataFrame[State/UT: string, No. of Companies - Public: int, Authorized Capital - Public: double, No. of Companies - Private: int, Authorized Capital - Private: double, No. of Companies - Total: int, Authorized Capital - Total: double]

In [45]:
sql_result.show(5)

+-----------------+-------------------------+---------------------------+--------------------------+----------------------------+------------------------+--------------------------+
|         State/UT|No. of Companies - Public|Authorized Capital - Public|No. of Companies - Private|Authorized Capital - Private|No. of Companies - Total|Authorized Capital - Total|
+-----------------+-------------------------+---------------------------+--------------------------+----------------------------+------------------------+--------------------------+
|   Andhra Pradesh|                     3942|                  199444.03|                     55721|                    95290.49|                   59663|                 294734.52|
|Arunachal Pradesh|                       16|                     889.85|                       156|                      208.74|                     172|                   1098.59|
|            Assam|                      498|                   17108.29|                      4394|                     4192.81|                    4892|                   21301.1|
|            Bihar|                      594|                    5871.69|                     10469|                     6118.87|                   11063|                  11990.56|
|      Chhatisgarh|                      468|                   32154.54|                      5407|                     5368.12|                    5875|                  37522.66|
+-----------------+-------------------------+---------------------------+--------------------------+----------------------------+------------------------+--------------------------+
only showing top 5 rows